# Files
*.suo
*.pdb
*.exe
*.dll
*.cache
# Directories
**/bin/ 
**/Debug/
**/Release/
**/Beta/
 
MinecraftFabric/MinecraftFabric.ActorServices/bin/x64/Debug/MinecraftFabric.ActorServices.exe
MinecraftFabric/MinecraftFabric.ActorServices/bin/x64/Debug/MinecraftFabric.ActorServices.exe
MinecraftFabric/MinecraftFabric.Common/obj/x64/Debug/CoreCompileInputs.cache